<a href="https://colab.research.google.com/github/raisaksh1/Machine-Learning/blob/main/_dummies_mileage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
path = '/content/model3.xlsx'
df = pd.read_excel(path)
df

   Mileage  Price    Age
0       Mw  69000  18000
1       Mw  35000  34000
2       Mw  57000  26100
3       Mw  22500  40000
4       Mw  46000  31500
5      udi  59000  29400
6      udi  52000  32000
7      udi  72000  19300
8      udi  91000  12000
9    cedes  67000  22000
10   cedes  83000  20000
11   cedes  79000  21000
12   cedes  59000  33000

In [ ]:
dummies = pd.get_dummies(df.Mileage)
dummies

    Mw  cedes  udi
0    1      0    0
1    1      0    0
2    1      0    0
3    1      0    0
4    1      0    0
5    0      0    1
6    0      0    1
7    0      0    1
8    0      0    1
9    0      1    0
10   0      1    0
11   0      1    0
12   0      1    0

In [ ]:
merged = pd.concat([df , dummies], axis = 'columns')
merged

   Mileage  Price    Age  Mw  cedes  udi
0       Mw  69000  18000   1      0    0
1       Mw  35000  34000   1      0    0
2       Mw  57000  26100   1      0    0
3       Mw  22500  40000   1      0    0
4       Mw  46000  31500   1      0    0
5      udi  59000  29400   0      0    1
6      udi  52000  32000   0      0    1
7      udi  72000  19300   0      0    1
8      udi  91000  12000   0      0    1
9    cedes  67000  22000   0      1    0
10   cedes  83000  20000   0      1    0
11   cedes  79000  21000   0      1    0
12   cedes  59000  33000   0      1    0

In [ ]:
merged.columns

Index(['Mileage', 'Price', 'Age', 'Mw', 'cedes', 'udi'], dtype='object')

In [ ]:
final = merged.drop(['Mileage','udi'], axis ='columns')
final

    Price    Age  Mw  cedes
0   69000  18000   1      0
1   35000  34000   1      0
2   57000  26100   1      0
3   22500  40000   1      0
4   46000  31500   1      0
5   59000  29400   0      0
6   52000  32000   0      0
7   72000  19300   0      0
8   91000  12000   0      0
9   67000  22000   0      1
10  83000  20000   0      1
11  79000  21000   0      1
12  59000  33000   0      1

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
X = final.drop('Age', axis ='columns')
X

    Price  Mw  cedes
0   69000   1      0
1   35000   1      0
2   57000   1      0
3   22500   1      0
4   46000   1      0
5   59000   0      0
6   52000   0      0
7   72000   0      0
8   91000   0      0
9   67000   0      1
10  83000   0      1
11  79000   0      1
12  59000   0      1

In [ ]:
y = final.Age
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Age, dtype: int64

In [ ]:
model.fit(X,y)

LinearRegression()

In [ ]:
model.predict([[68000,0,1]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([25930.83093217])

In [ ]:
model.predict([[72000,0,0]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([21485.52293435])

In [ ]:
model.score(X,y)

0.9407475372588112

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder
df

   Mileage  Price    Age
0       Mw  69000  18000
1       Mw  35000  34000
2       Mw  57000  26100
3       Mw  22500  40000
4       Mw  46000  31500
5      udi  59000  29400
6      udi  52000  32000
7      udi  72000  19300
8      udi  91000  12000
9    cedes  67000  22000
10   cedes  83000  20000
11   cedes  79000  21000
12   cedes  59000  33000

In [ ]:
dfle = df
le.fit_transform(dfle.Mileage)

TypeError: ignored

In [ ]:
from sklearn.preprocessing import LabelEncoder